body{

    font-family:sans-serif;

}

nav {

    margin-bottom : 16px;
    background : #fa923f;
    padding : 8px 0;

}

a {

    text-decoration: none;
    color : white;
    margin :10px;
}

.main-section {

    height : 99vh;
    border: 1px solid #ccc;
    padding : 16px;

}

.highlighted {

    border: 2px solid orange;

}


a.active {

    font-weight: bold;
    color: grey;
    
}